doctype html
html
	head
		title Mood
		link(rel='stylesheet', href='bower/bootstrap/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='bower/bootstrap/dist/css/bootstrap-theme.min.css')
		link(rel='stylesheet', href='bower/font-awesome/css/font-awesome.min.css')
		link(rel='stylesheet', href='bower/chartist/dist/chartist.min.css')
		link(rel='stylesheet', href='public/css/mood.css')

		block script
	body
		block content

		script(src='bower/jquery/dist/jquery.min.js')
		script(src='bower/bootstrap/dist/js/bootstrap.min.js')
		script(src='bower/chartist/dist/chartist.min.js')
		script(src='public/js/bundle.js')
		
		block script