extends ./layout.jade

block content
	div.row
		div.col-md-4.tileContainer
			div(id='tile_vote')
		div.col-md-4.tileContainer
			div(id='tile_profile')
		div.col-md-4.tileContainer
			div favourite
	div.row
		div.col-md-8.last.tileContainer
			div(id='tile_chart')
		div.col-md-4.last.tileContainer
			div.verde.tile GraphSelector
