extends ./layout.jade

block content
	div.row
		div.col-md-4.tileContainer
			div(id='tile_vote')
		div.col-md-4.tileContainer
			div favourite
		div.col-md-4.tileContainer
			div profile
	div.row
		div.col-md-4.last.tileContainer
			div.verde.tile GraphSelector
		div.col-md-8.last.tileContainer
			div.amarelo.tile Graph
				div(id='divGraphContent')

